# fly.toml app configuration file generated for kluvin-shorturl on 2023-10-20T18:39:35+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "kluvin-shorturl"
primary_region = "lhr"

[http_service]
  internal_port = 4001
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[mounts]
  source="data"
  destination="/mnt/data"

[env]
  DATABASE_PATH = "/mnt/data/db.sqlite3"
